# Application
PORT=3000
NODE_ENV=development

# Database (MySQL)
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=learning

# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=30000